{% for entity in entities %}
    {% if entity.id != id %}
        <li>
            <div class="treetoggle" data-bind="click{showHideTree()}">
                {% if entity.children|length > 0 %}
                    <i class="fa fa-angle-right"></i>
                {% endif %}
            </div>
            {% if entity.getInheritanceType() == 'page' %}
                <i class="glyphicon glyphicon-file"></i>
            {% elseif entity.getInheritanceType() == 'site' %}
                <i class="glyphicon glyphicon-globe"></i>
            {% endif %}
            <a href="#" data-bind="click[changeModalEntity({{ entity.id }},{{ entity.name }})]">{{ entity.name }}</a>
            {% if entity.children|length > 0 %}
                <ul style="display: none;">
                    {% include 'LightCMSPageBundle:Page:parent_entity_row.html.twig' with {'entities': entity.children} %}
                </ul>
            {% endif %}
        </li>
    {% endif %}
{% endfor %}
