.skin-blue .treeview-menu > li.active > a {
    color: #8aa4af;
}

.skin-blue .treeview-menu > li.current > a {
    color: #ffffff;
}

.showonparent {
    visibility: hidden;
}

*:hover > .showonparent {
    visibility: visible;
}

.ui-sortable-placeholder {
    opacity: 0.5;
}