* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

table#layout {
    border-spacing: 0px;
    height: 100%;
    position: absolute;
    table-layout: auto;
    width: 100%;
}

table#layout > tbody > tr > td {
    border: 1px solid black;
}

table#layout > tbody > tr:first-child > td {
    border-top-width: 0px;
}

table#layout > tbody > tr:last-child > td {
    border-bottom-width: 0px;
}

table#layout > tbody > tr > td:first-child {
    border-left-width: 0px;
}

table#layout > tbody > tr > td:last-child {
    border-right-width: 0px;
}

table#layout > tbody > tr.hSpace > td {
    background-color: #e4f2fd;
    border-width: 0px;
    height: 3px;
    max-height: 3px;
    min-height: 3px;
}

table#layout > tbody > tr > td.vSpace {
    background-color: #e4f2fd;
    border-width: 0px;
    cursor: col-resize;
    max-width: 3px;
    min-width: 3px;
    width: 3px;
}

table#layout > tbody > tr.top > td {
    height: 40px;
}

table#layout > tbody > tr > td.header {
    height: 40px;
}

table#layout > tbody > tr > td.sidebar {
    max-width: 300px;
    min-width: 200px;
    overflow: auto;
    vertical-align: top;
    width: 300px;
}

table#layout > tbody > tr > td.content {
    min-width: 500px;
    vertical-align: top;
}

table#layout > tbody > tr > td.content div#content {
    height: 100%;
    overflow: auto;
}

table#layout > tbody > tr > td.content div#content > div {
    padding: 25px;
}

/* Header */

table#layout td.header {
    background-color: #273959;
    color: white;
    font-size: xx-large;
    font-weight: bold;
    padding-left: 10px;
}

/* Sidebar */

td.sidebar .create {
    width: 100%;
}

.redbutton,
.greenbutton {
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-weight: bold;
    font-size: large;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}

.redbutton {
    background-color: #ff5d58;
}

.greenbutton {
    background-color: #00c333;
}

td.sidebar .create a {
    display: block;
    margin: 10px auto;
    width: 90%;
}

td.sidebar ul {
    border: 0;
}

.formbutton {
    display: table;
    margin: 20px 0;
    width: 100%;
}

.formbutton:first-child {
    margin-top: 0;
}

.formbutton:last-child {
    margin-bottom: 0;
}

.formbutton > div {
    display: table-cell;
}

.formbutton .delete {
    text-align: right;
}

.formbutton a {
    padding: 5px 30px;
}

.formfield {
    margin: 10px 0;
}

.formfield .label {
    font-weight: bold;
    font-size: large;
}

.formfield .widget input[type=text],
.formfield .widget select {
    border: 1px solid grey;
    border-radius: 5px;
    font-size: large;
    padding: 5px 10px;
    width: 100%;
}

.modulelist {
    margin: 10px;
    width: 100%;
}

.modulelist a {
    background-color: #c8cccf;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    display: block;
    font-size: large;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.modulelist a:hover {
    background-color: #00c333;
    color: white;
}
