{% extends 'LightCMSCoreBundle:Backend:layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            {% for module in moduleService.getModules() %}
                {% if module['entities'] is defined %}
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{ module.title }}</h3>
                            {#<div class="box-tools">#}
                                {#<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>#}
                            {#</div>#}
                        </div>
                        <div class="box-body no-padding">
                            <ul class="nav nav-pills nav-stacked">
                                {% for name, entity in module['entities'] %}
                                    <li>
                                        <a href="{{ path('light_cms_core_backend', { 'action': 'create', 'module': module.name, 'id': name }) }}">
                                            <i class="fa fa-inbox"></i> Create new {{ name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

