<!DOCTYPE html>
<html>
    <head>
        <title>Light CMS Backend</title>
        {% include 'LightCMSCoreBundle:Common:stylesheet.html.twig' with {'display': 'backend'} %}
    </head>
    {% if app.user %}
        <body class="skin-blue sidebar-mini">
            <div class="wrapper">
                {% include 'LightCMSCoreBundle:Backend:header.html.twig' %}
                    {% include 'LightCMSCoreBundle:Backend:sidebar.html.twig' %}
                <div class="content-wrapper">
                    {% block body %}{% endblock %}
                </div>
            </div>
            {% include 'LightCMSCoreBundle:Common:javascript.html.twig' with {'display': 'backend'} %}
        </body>
    {% else %}
        <body class="hold-transition login-page">
            {% block login %}{% endblock %}
            {% include 'LightCMSCoreBundle:Common:javascript.html.twig' with {'display': 'backend'} %}
        </body>
    {% endif %}
</html>
