{% for item in tree %}
    <li class="treeview {% if item['active'] %}active{% endif %} {% if item['current'] %}current{% endif %}">
        <a href="{{ path('light_cms_backend', { '/'~module.name~'/', 'action': 'edit', 'id': item['id']}) }}" data-bind="ready[sidebarReady()]">
            <span>{{ item['name'] }}</span> {% if item['children'] is defined and item['children']|length > 0 %}<i class="fa fa-angle-left pull-right"></i>{% endif %}
        </a>
        {% if item['children'] is defined and item['children']|length > 0 %}
        <ul class="treeview-menu">
            {% include 'LightCMSCoreBundle:Backend:sidebar_tree.html.twig' with { 'module' : module, 'tree': item['children'] }  %}
        </ul>
        {% endif %}
    </li>
{% endfor %}
