<div class="main-sidebar">
    <div class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            {% for module in moduleService.getModules() %}
                {% if module.menu is defined %}
                    {% for title, menu in module.menu %}
                        <li class="treeview {% if module == moduleService.getModule() %}active{% endif %}">
                            <a href="{% if menu.route is defined and menu.params is defined %}{{ path(menu.route, menu.params) }}{% else %}#{% endif %}" {% if menu.tree is defined %}data-bind="ready[sidebarReady()]"{% endif %}>
                                {% if menu.icon is defined %}
                                    <i class="{{ menu.icon }}"></i>
                                {% endif %}
                                <span>{{ title }}</span>
                                {% if menu.tree is defined %}<i class="fa fa-angle-left pull-right"></i>{% endif %}
                            </a>
                            {% if menu.tree is defined %}
                               <ul class="treeview-menu">
                                   {{ render(controller(menu.tree, { request: app.request })) }}
                               </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
