<ul class="sidebar-menu">
    {% for item in tree %}
        <li class="treeview {% if item['active'] %}active{% endif %} {% if item['current'] %}current{% endif %}">
            <a href="#">
                <span>{{ item['name'] }}</span> {% if item['children'] is defined and item['children']|length > 0 %}<i class="fa fa-angle-left pull-right"></i>{% endif %}
            </a>
            {% if item['children'] is defined and item['children']|length > 0 %}
                {% include 'LightCMSCoreBundle:Backend:tree-item.html.twig' with { 'tree': item['children'] }  %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
