{% for node in nodes %}
    <li class="treeview">
        <a href="{{ lcmspath('node', node.getInheritanceType(), 'edit', {'id': node.id }) }}" data-bind="ready[sidebarReady()]">
            <span>{{ node.name }}</span> {% if node.children|length > 0 %}<i class="fa fa-angle-left pull-right"></i>{% endif %}
        </a>
        {% if node.children|length > 0 %}
            <ul class="treeview-menu">
                {% include _self with { 'nodes': node.children }  %}
            </ul>
        {% endif %}
    </li>
{% endfor %}
