<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Modal</title>
    </head>
    <body>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Home Page Selection</h4>
        </div>
        <div class="modal-body">
            <ul class="treeview">
                {% for node in entity.children %}
                    <li>
                        <div class="treetoggle">
                        </div>
                        <i class="glyphicon glyphicon-file"></i>
                        <a href="#" data-bind="click[changeModalEntity({{ node.id }},{{ node.name }})]">{{ node.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </body>
</html>
