{% extends 'LightCMSCoreBundle:Backend/default:'~style~'.html.twig' %}

{% block body %}
    <ul class="treeview-menu">
        {% for site in sites %}
            <li class="treeview">
                <a href="{{ path('light_cms_core_backend', {'module': 'site', 'action': 'edit', 'id': site.id}) }}">
                    <i class="fa fa-html5"></i> <span>{{ site.title }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

