<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Light CMS{% endblock %}</title>
        {% include 'LightCMSCoreBundle:Common:stylesheet.html.twig' with {'display': 'frontend'} %}
    </head>
    <body data-bind="ready{paddingNavigation()}">
        {% block body %}{% endblock %}
        {% include 'LightCMSCoreBundle:Common:javascript.html.twig' with {'display': 'frontend'} %}
    </body>
</html>
